* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.insta-detail {
    width:340px; 
    height: 340px; 
    background-color: #ccc;
    margin-left: 40px;
    margin-top: 40px;
    @media all and (max-width: 480px) {
        width:100%;
        margin: 0;
    }
}

.slick-slide {
    position: relative;
    cursor: pointer;
    .slide-overlay {
        position: absolute;
        left: 0; top: 0; bottom: 0; right: 0;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        flex-basis: 100%;
        padding: 20px;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        .title {
            display: flex;
            flex-direction: row;
            justify-self: center;
            flex-basis: 100%;
            align-self: flex-start;
            justify-content: center;
            transform: translateY(-20px);
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
        .tags {
            display: flex;
            flex-direction: row;
            justify-self: center;
            flex-basis: 100%;
            align-self: flex-end;
            justify-content: center;
            transform: translateY(20px);
            opacity: 0;
            transition: all 0.3s ease-in-out;
        }
    }
    &:hover {
        .slide-overlay {
            opacity: 1;
            .title{
                opacity: 1;
                transform: translateY(0px);
            }
            .tags{
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }
}


.insta-modal {
    font-family: "hkgrotesk",san-serif;
    z-index: 999;
    position: absolute;
    width: 650px;
    min-height: 100px;
    background-color: #fff;
    left: 50%; 
    top: 40px;
    transform: translateX(-50%);
    margin-bottom: 40px;
    display: none;
    @media all and (max-width: 690px) {
        width: auto;
        left: 20px;
        right: 20px;
        transform: none;
    }
    .im-header {
        position: relative;
        padding: 10px;
        text-align: center;
        .im-title {
            padding-right: 20px;
            &::after {
                content: "";
                display: table;
                clear: both;
            }
            .fa {
                float: left;
                font-size: 37px;
            }
            .title-text {
                text-align: left;
                float: left;
                margin-left: 5px;
                .handle {
                    text-decoration: none;
                    color: #000;
                    font-size: 18px;
                    font-weight: 600;
                }
                .location {
                    font-size: 13px;
                }
            }
        }
        .insta-detail-close {
            cursor: pointer;
            position: absolute;
            right: 15px;
            top: 10px;
            width: 20px;
            height: 20px;
            opacity: 0.5;
            transition: all 0.3s ease-in-out;
            &:hover {
                opacity: 1;
            }
            &::before, &::after {
                position: absolute;
                left: 15px;
                content: '';
                height: 20px;
                width: 2px;
                background-color: #333;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
    .insta-modal-body {
        background-color: #ccc;
        text-align: center;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        .img-insta {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }
    }
    .im-footer {
        padding: 10px;
        text-align: center;
        .insta-text {
            max-width: 400px;
            margin: 10px auto;;
            text-align: center;
            font-size: 22px;
            color: #666;
        }
        .insta-date {
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 14px;
            color: #999;
        }
    }
}

.insta-modal-backdrop {
    display: none;
    z-index: 998;
    position: fixed;
    top: 0; bottom: 0; right: 0; left: 0;
    background-color: rgba(0,0,0,0.5);
}



