* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #b4c0c6;
}

.header-placeholder {
    height: 250px;
    background-color: #ccc;
    margin-bottom: 20px;
}



// chat starts here

.chat-wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: left;
    // Set the chat height here
    //height: 90vh;
    height: calc(96vh - 270px);
    .chat-left {
        display: flex;
        flex-direction: column;
        background-color: #343b80;
        flex-basis: 25%;
        position: relative;
        color: #989bbe;
        padding: 70px 0;
        .top {
            position: absolute;
            top: 0; left: 0; right: 0;
            height: 64px;
            border-bottom: 1px solid #2c316c;
            .person-search {
                padding: 0 15px;
                position: relative;
                margin: 15px 0 0 0;
                .fa {
                    position: absolute;
                    left: 20px;
                    top: 10px;
                    color: #c8cadc;
                }
                input {
                    box-shadow: none;
                    border: none;
                    outline: 0;
                    border-radius: 2px;
                    background-color: #484e8c;
                    color: #c8cadc;
                    padding-left: 30px;
                }
            }
        }
        .bottom{
            position: absolute;
            bottom: 0; left: 0; right: 0;
            height: 64px;
            border-top: 1px solid #2c316c;
            .add {
                display: flex;
                flex-direction: column;
                align-items: center;
                //justify-content: center;
                background-color: #6ab04c;
                border-radius: 50%;
                width: 40px; height: 40px;
                cursor: pointer;
                position: absolute;
                left: 15px;
                top: 50%;
                transform: translateY(-50%);
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: darken($color: #6ab04c, $amount: 5%)
                }
                span {
                    display: flex;
                    color: #fff;
                    font-size: 30px;
                }
            }
        }
        .left-side-content {
            .person {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                padding: 10px 0;
                &:hover {
                    background-color: #292f66;
                }
                .avatar {
                    display: flex;
                    flex-direction: column;
                    padding: 0 10px;
                    .avatar-cover {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: hidden;
                        img {
                            max-width: 40px;
                            max-height: 40px;
                        }
                    }
                }
                .last-message-wrap {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    .time {
                        position: absolute;
                        right: 0;
                        top: 3px;
                        font-size: 12px;
                    }
                    .name {
                        color: #fff;
                        font-size: 14px;
                        padding-right: 50px;
                        letter-spacing: 0.5px;
                    }
                    .last-message {
                        font-size: 13px;
                    }
                }
                .status-ext {
                    display: flex;
                    flex-direction: column;
                    justify-self: center;
                    padding: 0 20px 0 10px;
                    min-width: 38px;
                    .online-wrap {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        margin-top: 4px;
                        margin-bottom: 4px;
                        .online {
                            display: flex;
                            flex-direction: column;
                            border-radius: 50%;
                            background-color: #6ab04c;
                            width: 12px;
                            height: 12px;
                        }
                    }
                    .bell {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .fa {
                            cursor: pointer;
                            margin-top: 4px;
                            margin-bottom: 4px;
                            &:hover {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .chat-right {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        flex-basis: 75%;
        position: relative;
        color: #363f45;
        padding: 70px 0;
        .top {
            position: absolute;
            top: 0; left: 0; right: 0;
            height: 64px;
            border-bottom: 1px solid #e9e9e9;
            display: flex;
            flex-direction: row;
            align-items: center;
            .conversation-name {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding-left: 15px;
                font-size: 16px;
                font-weight: 600;
            }
            .conversation-controls {
                display: flex;
                flex-direction: column;
                flex-basis: 120px;
                padding-right: 15px;
                .icons {
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: space-between;
                    .fa {
                        font-size: 20px;
                        color: #b2b2b2;
                        cursor: pointer;
                    }
                }
            }
        }
        .bottom{
            position: absolute;
            bottom: 0; left: 0; right: 0;
            height: 64px;
            border-top: 1px solid #e9e9e9;
            background-color: #f9f9f9;
            display: flex;
            flex-direction: row;
            align-items: center;
                .attach {
                    display: flex;
                    flex-direction: column;
                    padding: 0 15px;
                    .fa {
                        font-size: 22px;
                        font-size: 20px;
                        color: #b2b2b2;
                        cursor: pointer;
                    }
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    padding: 0 15px 0 0;
                    input {
                        border-radius: 2px;
                        outline: none;
                        border-color: #d8d8d8;
                        color: #000;
                        height: auto !important;
                        padding: 10px 12px !important;
                    }
                }
        }
        .right-side-content {
            .single-conversation {
                display: flex;
                flex-direction: row;
                align-content: center;
                justify-content: center;
                padding: 10px 0;
                .avatar {
                    display: flex;
                    flex-direction: column;
                    padding: 0 15px;
                    justify-content: center;
                    .avatar-cover {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        overflow: hidden;
                        img {
                            max-width: 40px;
                            max-height: 40px;
                        }
                    }
                }
                .text {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    justify-content: center;
                    .name {
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .chat {
                        font-size: 14px;
                    }
                }
                .time {
                    display: flex;
                    flex-direction: column;
                    padding: 0 15px;
                    flex-basis: 150px;
                    justify-content: center;
                    text-align: center;
                    color: #c7c9cb;
                }
            }
        }
    }
    .scrollable {
        // 96vh - 65px - 65px - 250px -20px
        // 100% body heaight - top and bottom chat areas height - header height - header margin
        height: calc(96vh - 400px);
        overflow-y: auto;
    }
}